In [12]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
from sklearn.datasets import make_blobs
import sklearn as skl

In [33]:
listing_df = pd.read_csv("../Resources/listing_info.csv")
listing_df

,date,zip,lat,lng,state,city,population,density,median_listing_price,median_days_on_market,median_listing_price_per_square_foot,median_square_feet,average_listing_price,total_listing_count
0,2020-07-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,320000.0,30,182.0,1800.0,399248.0,51.0
1,2020-08-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,280000.0,27,175.0,1600.0,368038.0,51.0
2,2020-09-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,297450.0,23,174.0,1680.0,367193.0,62.0
3,2020-10-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,305000.0,42,173.0,1736.0,370583.0,94.0
4,2020-11-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,302500.0,44,173.0,1740.0,391833.0,93.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
779551,2020-02-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,370000.0,30,171.0,1884.0,393681.0,49.0
779552,2020-03-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,380000.0,31,182.0,1915.0,424674.0,56.0
779553,2020-04-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,369000.0,32,180.0,1833.0,416689.0,60.0
779554,2020-05-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,389900.0,56,182.0,1944.0,431590.0,61.0
779555,2020-06-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,370000.0,25,186.0,1883.0,424208.0,65.0

In [34]:
listing_df["Month"] = listing_df["date"].str[8:10]
listing_df["Year"] = listing_df["date"].str[0:4]

In [35]:
listing_df.head()

,date,zip,lat,lng,state,city,population,density,median_listing_price,median_days_on_market,median_listing_price_per_square_foot,median_square_feet,average_listing_price,total_listing_count,Month,Year
0,2020-07-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,320000.0,30,182.0,1800.0,399248.0,51.0,01,2020
1,2020-08-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,280000.0,27,175.0,1600.0,368038.0,51.0,01,2020
2,2020-09-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,297450.0,23,174.0,1680.0,367193.0,62.0,01,2020
3,2020-10-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,305000.0,42,173.0,1736.0,370583.0,94.0,01,2020
4,2020-11-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,302500.0,44,173.0,1740.0,391833.0,93.0,01,2020

In [37]:
listing_df.drop(['date'], axis=1, inplace=True)

In [38]:
listing_df.columns

Index(['zip', 'lat', 'lng', 'state', 'city', 'population', 'density',
       'median_listing_price', 'median_days_on_market',
       'median_listing_price_per_square_foot', 'median_square_feet',
       'average_listing_price', 'total_listing_count', 'Month', 'Year'],
      dtype='object')

In [39]:
# Rearrange the columns
listing_df=listing_df[['Month', 'Year', 'zip', 'lat', 'lng', 'state', 'city', 'population', 'density',
       'median_listing_price', 'median_days_on_market',
       'median_listing_price_per_square_foot', 'median_square_feet',
       'average_listing_price', 'total_listing_count']]

In [40]:
listing_df.head()

,Month,Year,zip,lat,lng,state,city,population,density,median_listing_price,median_days_on_market,median_listing_price_per_square_foot,median_square_feet,average_listing_price,total_listing_count
0,01,2020,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,320000.0,30,182.0,1800.0,399248.0,51.0
1,01,2020,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,280000.0,27,175.0,1600.0,368038.0,51.0
2,01,2020,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,297450.0,23,174.0,1680.0,367193.0,62.0
3,01,2020,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,305000.0,42,173.0,1736.0,370583.0,94.0
4,01,2020,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,302500.0,44,173.0,1740.0,391833.0,93.0

In [41]:
listing_df.notnull().sum()

Month                                   779556
Year                                    779556
zip                                     779556
lat                                     779556
lng                                     779556
state                                   779556
city                                    779556
population                              776210
density                                 776210
median_listing_price                    779556
median_days_on_market                   779556
median_listing_price_per_square_foot    779556
median_square_feet                      779556
average_listing_price                   779556
total_listing_count                     779556
dtype: int64

In [42]:
housing_test_df = listing_df

In [43]:
housing_test_df.head()

,Month,Year,zip,lat,lng,state,city,population,density,median_listing_price,median_days_on_market,median_listing_price_per_square_foot,median_square_feet,average_listing_price,total_listing_count
0,01,2020,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,320000.0,30,182.0,1800.0,399248.0,51.0
1,01,2020,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,280000.0,27,175.0,1600.0,368038.0,51.0
2,01,2020,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,297450.0,23,174.0,1680.0,367193.0,62.0
3,01,2020,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,305000.0,42,173.0,1736.0,370583.0,94.0
4,01,2020,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,302500.0,44,173.0,1740.0,391833.0,93.0

In [44]:
housing_test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 779556 entries, 0 to 779555
Data columns (total 15 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   Month                                 779556 non-null  object
 1   Year                                  779556 non-null  object
 2   zip                                   779556 non-null  int64
 3   lat                                   779556 non-null  float64
 4   lng                                   779556 non-null  float64
 5   state                                 779556 non-null  object
 6   city                                  779556 non-null  object
 7   population                            776210 non-null  float64
 8   density                               776210 non-null  float64
 9   median_listing_price                  779556 non-null  float64
 10  median_days_on_market                 779556 non-null  int64
 11  median_listing_price_per_square_foot  779556 non-null  float64
 12  median_square_feet                    779556 non-null  float64
 13  average_listing_price                 779556 non-null  float64
 14  total_listing_count                   779556 non-null  float64
dtypes: float64(9), int64(2), object(4)
memory usage: 89.2+ MB